  body {
      background-color:white;
      color: black;
      font-family: Arial;
      text-align: center;
      padding: 40px;
      font-family: Arial, Helvetica, sans-serif;
    }

    #stickman {
      position: relative;
      width: 200px;
      height: 250px;
      margin: auto;
      margin-bottom: 30px;
      float: left;
    }

    .hangman-part {
      position: absolute;
      background-color: black;
      display: none;
    }

    #head {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 5px solid black;
      top: 60px;
      left: 80px;
      background: transparent;
    }

    #body {
      width: 10px;
      height: 70px;
      top: 100px;
      left: 95px;
    }

    #left-arm {
      width: 50px;
      height: 10px;
      top: 120px;
      left: 40px;
      transform: rotate(-30deg);
    }

    #right-arm {
      width: 50px;
      height: 10px;
      top: 120px;
      left: 110px;
      transform: rotate(30deg);
    }

    #left-leg {
      width: 10px;
      height: 50px;
      bottom: 0;
      left: 80px;
      transform: rotate(30deg);
    }

    #right-leg {
      width: 10px;
      height: 50px;
      bottom: 0;
      left: 110px;
      transform: rotate(-30deg);
    }

    #rope {
      width: 4px;
      height: 40px;
      background-color: black;
      top: 20px;
      left: 98px;
    }

    #gallows {
      width: 100px;
      height: 4px;
      background-color: black;
      top: 20px;
      left: 0;
    }

    button {
      margin: 5px;
        padding: 10px 20px;
        font-size: 16px;
        color: black;
        background-color: #f0f0f0;
    }